name: test

on: [workflow_dispatch, push, pull_request]

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Check formatting
        run: |
          forge fmt --check
        id: formatting

      - name: Regenerate Contracts
        run: |
          python src/blocks/poseidon/poseidon-contract-gen.py src/blocks/poseidon/neptune-constants-U24-pallas.json PoseidonU24Pallas > src/blocks/poseidon/PoseidonNeptuneU24pallas.sol
          python src/blocks/poseidon/poseidon-contract-gen.py src/blocks/poseidon/neptune-constants-U24-vesta.json PoseidonU24Vesta > src/blocks/poseidon/PoseidonNeptuneU24vesta.sol

      - name: Run forge fmt on re-generated contracts
        run: |
          forge fmt

      - name: Check discrepancies
        run: |
          if [[ `git status --porcelain` ]]; then
            echo "There are discrepancies between the repository and the source. Please ensure the contracts are up to date."
            exit 1
          fi

      - name: Run Forge build
        run: |
          forge --version
          forge build
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test

      - name: Get sizes of compiled contracts
        run: |
          forge --version
          forge build --sizes || true
        id: build-with-sizes
